.conteiner{
    background-color: #003b67;
    width: 450px;
    
    padding:3%;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  .body{
    margin:10% 5% 0% 5%;
  }
.title{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
  }
.boxTop{
    margin-bottom: 1%;
}
.label{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  

  }
.componentInput{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15;
    height: 34px;
}
.input{
    float: right;
    border: 1px solid white;
    background: transparent;
    width: 35%;
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.labelSliderMin{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    float: left;
  

  }
  .labelSliderMax{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    float: right;
  

  }
  .mySlider{
      width: 85%;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
  }
  .block{
      padding-bottom: 30px;
  }
  .groupButton{
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
  
 